ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.p {
  color: red;
}

#id-selector-demo{
  color: green;
}

#fourth {
  color:blue;
}

.note {
  text-align: center;
}